.header-background {
    position: relative;
    width: 100%;
    height: 435px;
    background-image: linear-gradient(rgb(27 27 27 / 84%), rgb(19 19 19)), url(../assets/img/fond.jpg);
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: auto, cover;
}

.header-content {
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content h1, p {
    color: white;
}

.header-content p {
    width: 60%;
    color: #dddddd;
    font-size: 17px;
    text-shadow: #1b1b1bd1 1px 0 10px;
    margin-bottom: 100px;
}

