::before,
::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #131313;
}

.nav_texture {
    background: #1B1B1B;
}

.container_nav {
    width: 80%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    user-select: none;
}

#menu-btn {
    font-size: 2.5rem;
    color: #f1f1f1;
    cursor: pointer;
    display: none;
}

#menu-btn:hover {
    color: #c2c2c2;
    text-shadow: 0 0 5px #00000091;
}

.image {
    width:  65px;
    filter: grayscale(1);
    transition: filter .3s ease;
    user-select: none;
}

.image:hover {
    filter: grayscale(0);
}

.nav-links {
    display: flex;
}

.nav-links i{
    color: #AA8C64;
    user-select: none;
}

.nav_button {
    color: white;
    user-select: none;
    text-decoration: none;
    font-size: 16px;
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background .3s ease, transform .3s ease;
}

.nav-links .nav_button:hover {
    background: #444444;
    transform: scale(1.05);
}

.box {
    position: relative;
}

.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: 4px solid #AA8C64;
    border-radius: 50px;
    font-size: 26px;
    color: #AA8C64;
    outline: none;
    transition: .5s;
}

.box:hover input{
    width: 50px;
    background: #AA8C64;
    border-radius: 10px;
}

.box i{
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #AA8C64;
    transition: .2s;
}

.box:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

.header-background {
    position: relative;
    width: 100%;
    height: 435px;
    background-image: linear-gradient(rgb(27 27 27 / 84%), rgb(19 19 19)), url(./assets/img/fond.jpg);
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: auto, cover;
}

.header-content {
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content h1, p {
    color: white;
}

.header-content p {
    width: 60%;
    color: #dddddd;
    font-size: 17px;
    text-shadow: #1b1b1bd1 1px 0 10px;
    margin-bottom: 100px;
}

.galerie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    min-height: 100vh;
    max-width: 13000px;
    margin: 20px auto 0;
}

.all_products {
    display: flex;
    user-select: none;
    color: white;
    width: 95%;
    text-align: center;
    margin: 10px 0;
    transition: ease .2s;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.all_products h1 {
    font-weight: 500;
}

.all_products span {
    color: #ffb100;
    font-weight: 300;
    filter: drop-shadow(0px 0px 3px orange);
    animation: textclip 2s ease infinite;
    opacity: 1;
}
@keyframes textclip {
    0% {
        filter: drop-shadow(0px 0px 7px #ff2300);
        opacity: 0.7;
    }
    100% {
        filter: drop-shadow(0px 0px 3px orange);
        opacity: 1;
    }
}

.packages {
    position: relative;
    max-width: 400px;
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: 10px;
    overflow: hidden;
    margin-bottom: 60px;
    flex-shrink: 0;
    text-align: center;
    user-select: none;
    border-radius: 5px;
    height: 224px;
    background: #444444;
}

.package-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px;
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.6);
        color: #f1f1f1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;
        opacity: 0;
        transition: opacity 0.3s;
}

.package-content > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.package-content:hover {
    opacity: 1;
}

.package-content:hover > * {
    transform: translateY(0);
}

.package-title {
    font-size: min(max(20px, 5vw), 30px);
    font-weight: bold;
}

.package-desc {
    font-size: min(max(7px, 3vw), 14px);
    margin-top: 0.25em;
}

.packages-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.package-color-pay {
    color: #fff;
    text-decoration: none;
}

.packages-btn {
    padding: 7px 15px;
    background: #AA8C64;
    border: 2px solid #AA8C64;
    font-size: min(max(7px, 3vw), 14px);
    border-radius: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-top: 7px;
    transition: 0.3s;
}

.packages-btn:hover {
    background: transparent;
    color: #AA8C64;
    transition: 0.3s;
}

.packages-btn a {
    text-decoration: none;
    color: #f1f1f1;
    transition: ease .2s;
}

.packages-btn a:hover {
    color: #d0d0d0;
}
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #1b1b1b;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 20px;
}

.sec h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    user-select: none;
}

.sec h2:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #aa8c64;
}

.sec p {
    color: #f7f7f7;
    font-size: min(max(10px, 3vw), 14px);
}

.sci {
    margin-top: 20px;
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #aa8c64;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 50px;
    color: #f1f1f1;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.sci li a:hover {
    transform: scale(0.9);
    background-color: #c5aa86d6;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.sci li a {
    text-shadow: 1px 1px 2px #0000007d;
}

.sec.quicklinks {
    position: relative;
    user-select: none;
}

.sec.quicklinks ul li {
    list-style: none;
}

.sec.quicklinks ul li a {
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: transform .3s ease;
}

.sec.quicklinks ul li a:hover {
    transform: translateX(5px) scale(1.1);
}

.sec.contact .info {
    position: relative;
}

.sec.contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.sec.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.sec.contact .info li a {
    color: #f7f7f7;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    user-select: text;
    padding: 30px 30px;
    text-align: center;
    color: #b1b1b1;
    background-color: #131313;
    user-select: none;
}

.copyrightText a {
    text-decoration: none;
    color: #a99273;
}

.copyrightText a:hover {
    color: #b6a287;
    text-decoration: underline;
}

